.visimisi span{
	color: #2366f5;
	font-weight: bold;
}

.mikrotik{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	padding: 40px;
}

.visimisi{
	color: black;
	font-family: Poppins;
	font-size: 18px;
	margin: 50px 70px 50px 70px; 
	position: relative;
	padding: 15px 30px 15px 30px;
}




@media screen and (max-width: 992px) {
	.mikrotik{
		width: 70%;
		padding: 40px;
	}
}

@media (min-width: 420px) and (max-width: 768px) {
	
	.mikrotik{
		width: 70%;
		padding: 40px;
	}
	
	.visimisi{
		margin: 20px 3px;  
		position: relative;
		padding: 20px;
	}
	.visimisi p, .visimisi li{
		font-size: 16px;
	}
	
}



@media screen and (max-width: 500px) {
	
}


@media (min-width: 200px) and (max-width: 420px) {
	
	.mikrotik{
		width: 90%;
		padding: 40px;
	}
	
	.visimisi{
		margin: 20px 3px;  
		position: relative;
		padding: 20px;
	}
	.visimisi p, .visimisi li{
		font-size: 14px;
	}
	
}